/*----------------------------
      Base
 ----------------------------*/
  
 body {
   background-color: hsl(233, 47%, 7%);
 }
  
  
 .page-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
 } 
  
  

  
  